.w3-half {
    position: relative;
  }
  
  .w3-half .input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 200px;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
  }
  
  .w3-half .input:focus {
    outline: none;
  }
  
  .w3-half .label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    display: flex;
  }
  
  .w3-half .label-char {
    transition: 0.2s ease all;
    transition-delay: calc(var(--index) * .05s);
  }
  
  .w3-half .input:focus ~ label .label-char,
  .w3-half .input:valid ~ label .label-char {
    transform: translateY(-20px);
    font-size: 14px;
    color: #5264AE;
  }
  
  .w3-half .bar {
    position: relative;
    display: block;
    width: 200px;
  }
  
  .w3-half .bar:before,.w3-half .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  
  .w3-half .bar:before {
    left: 50%;
  }
  
  .w3-half .bar:after {
    right: 50%;
  }
  
  .w3-half .input:focus ~ .bar:before,
  .w3-half .input:focus ~ .bar:after {
    width: 50%;
  }
  
  .w3-input {
    position: relative;
  }
  
  .w3-input .input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 500px;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
  }
  
  .w3-input .input:focus {
    outline: none;
  }
  
  .w3-input .label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    display: flex;
  }
  
  .w3-input .label-char {
    transition: 0.2s ease all;
    transition-delay: calc(var(--index) * .05s);
  }
  
  .w3-input .input:focus ~ label .label-char,
  .w3-input .input:valid ~ label .label-char {
    transform: translateY(-20px);
    font-size: 14px;
    color: #5264AE;
  }
  
  .w3-input .bar {
    position: relative;
    display: block;
    width: 200px;
  }
  
  .w3-input .bar:before,.w3-input .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  
  .w3-input .bar:before {
    left: 50%;
  }
  
  .w3-input .bar:after {
    right: 50%;
  }
  
  .w3-input .input:focus ~ .bar:before,
  .w3-input .input:focus ~ .bar:after {
    width: 50%;
  }
  
  