body,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: "Lato", sans-serif;
        }
        
        body,
        html {
            height: 100%;
            color: #777;
            line-height: 1.8;
        }
        /* Create a Parallax Effect */
        
        .logo-img,
        .bgimg-2,
        .bgimg-3 {
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        /* First image (Logo. Full height) */
        
        .logo-img {
            background-image: url("Images/Background_logo.jpg");
            min-height: 1000px;
        }
        /* Second image (Portfolio) */
        
        .bgimg-2 {
            background-image: url("Images/Background_portfolio.jpg");
            min-height: 700px;
        }
        /* Third image (Contact) */
        
        .bgimg-3 {
            background-image: url("Images/Background_contact.jpg");
            min-height: 700px;
        }
        
        .w3-wide {
            letter-spacing: 10px;
        }
        
        .w3-hover-opacity {
            cursor: pointer;
        }
        
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }